@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles if needed */
body {
  font-family: 'Lexend', 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}